.container {
  max-width: 1296px;
  margin: 0 auto;
}

.tools {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: 416px;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    &:hover img {
      transform: scale(1.25);
    }
  }

  &-img {
    overflow: hidden;
    & img {
      display: block;
      transition: .2s ease-in;
    }
  }

  &-body {
    flex-grow: 1;
    padding: 20px 32px;
  }

  &-title {
    font-size: 20px;
    font-weight: 900;
    line-height: 150%;
    margin-bottom: 12px;
  }

  &-description {
    font-size: 14px;
    line-height: 150%;
    color: #525252;
  }

  &-data {
    display: flex;
    justify-content: space-between;
    padding: 20px 32px;
    font-size: 16px;
    border-top: 1px solid #F2F2F2;

    &-ai {
      font-weight: 700;
    }

    &-link {
      color: #020202;
    }

  }
}